*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.11/.Runtime/* filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
Assett/Import filter=lfs diff=lfs merge=lfs -text
Assets/Import filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Assets/Wizards[[:space:]]Code/Terrains/Hills,[[:space:]]Mountains[[:space:]]and[[:space:]]Lakes/Textures/Grass003_4K_NormalDX.png filter=lfs diff=lfs merge=lfs -text
